<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0b1cd793-7372-40f6-a35d-afbb17f15792" Alias="blogContent" Level="2">
  <Info>
    <Name>Blog Content</Name>
    <Icon>icon-autofill color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content+Pages</Folder>
    <Compositions>
      <Composition Key="538e1888-930c-43d3-94fb-b6d7fddf06b3">metadata</Composition>
    </Compositions>
    <DefaultTemplate>BlogContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a48f0b3b-b39a-47e0-9b6b-1de7f5666f5c">BlogContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>384f7b21-7157-4f85-bf4f-dca5c0b42a81</Key>
      <Name>BlogText</Name>
      <Alias>blogText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="someText">SomeText</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e3bcd428-5dcb-47be-9a02-27ab075f3ae7</Key>
      <Caption>SomeText</Caption>
      <Alias>someText</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>