<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c6bb4ef6-11fc-41e4-b723-c5eae07ee2d1" Alias="carouselContent" Level="2">
  <Info>
    <Name>Carousel Content</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2bea4ef6-846a-46b0-a31c-5857362974d2</Key>
      <Name>Carousel</Name>
      <Alias>carousel</Alias>
      <Definition>5a0bbe79-6818-4b84-8d3a-b4f60ce06690</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="carousel">Carousel</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6d9beb5c-a064-4e5e-bc19-d6cea4c9aca4</Key>
      <Caption>Carousel</Caption>
      <Alias>carousel</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>