<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4709ed24-5b35-4478-96d1-2844afc63ed5" Alias="carPage" Level="2">
  <Info>
    <Name>Car Page</Name>
    <Icon>icon-car color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content+Pages</Folder>
    <Compositions>
      <Composition Key="538e1888-930c-43d3-94fb-b6d7fddf06b3">metadata</Composition>
    </Compositions>
    <DefaultTemplate>CarPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5b9df44d-877f-4a79-a2c8-7fa3968d99c9">CarPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>70ab6944-215b-41d7-990e-163133fa3f71</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>f98800c6-df17-4285-af02-6ff2e2c9b15c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2da8b436-ce3c-4be9-a75f-66d55423bd39</Key>
      <Name>Photos</Name>
      <Alias>photos</Alias>
      <Definition>5a0bbe79-6818-4b84-8d3a-b4f60ce06690</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f88147d0-30f6-46d8-b99f-c411367269e4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>