<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bf92369d-cf30-4c56-a280-c9c078175f40" Alias="catalogPage" Level="1">
  <Info>
    <Name>Catalog Page</Name>
    <Icon>icon-car color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="538e1888-930c-43d3-94fb-b6d7fddf06b3">metadata</Composition>
    </Compositions>
    <DefaultTemplate>CatalogPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6bf83316-e82c-40a5-b017-b344cf4feee8">CatalogPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4709ed24-5b35-4478-96d1-2844afc63ed5" SortOrder="0">carPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5b3fd676-7097-4aa8-bbbc-1a4daf4cbafa</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>f98800c6-df17-4285-af02-6ff2e2c9b15c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>49fadc01-ad08-46c7-a803-acd65ffc0473</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>