<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fef25229-a5af-49f4-85db-bb6709e3a769" Alias="gallery" Level="1">
  <Info>
    <Name>Gallery Page</Name>
    <Icon>icon-picture color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="c6bb4ef6-11fc-41e4-b723-c5eae07ee2d1">carouselContent</Composition>
      <Composition Key="538e1888-930c-43d3-94fb-b6d7fddf06b3">metadata</Composition>
    </Compositions>
    <DefaultTemplate>Gallery</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2286362e-1dfb-4635-a8fb-4374d07f3c01">Gallery</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>