<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e869bbeb-3efc-4806-bf9b-f026e33e7718" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="fb9353a5-738d-46a1-bd6e-dfeed8f7c7b4">masterPage</Composition>
      <Composition Key="538e1888-930c-43d3-94fb-b6d7fddf06b3">metadata</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2022c86e-922a-474c-a97f-dbd11b5a9cce">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="bf92369d-cf30-4c56-a280-c9c078175f40" SortOrder="0">catalogPage</ContentType>
    <ContentType Key="fef25229-a5af-49f4-85db-bb6709e3a769" SortOrder="1">gallery</ContentType>
    <ContentType Key="ceb79fd7-7cc9-4133-97e8-c7db3a4c94f7" SortOrder="2">blog</ContentType>
    <ContentType Key="bf31adc7-5a81-440b-86c5-93180e2fa5df" SortOrder="3">settings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fb50b60f-325f-4594-a405-8f9b1f548af4</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>f98800c6-df17-4285-af02-6ff2e2c9b15c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>acf457dd-21f1-42b9-8859-f4484d4b9a74</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>