<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bf31adc7-5a81-440b-86c5-93180e2fa5df" Alias="settings" Level="1">
  <Info>
    <Name>Settings</Name>
    <Icon>icon-settings-alt color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="f016e954-edfb-4d1b-9992-7080b4c9eb82">footerItem</Composition>
      <Composition Key="538e1888-930c-43d3-94fb-b6d7fddf06b3">metadata</Composition>
      <Composition Key="1f5db28c-12fd-4399-9a06-e202c95e31be">navigationItem</Composition>
    </Compositions>
    <DefaultTemplate>Settings</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b230927e-a715-4692-8f5c-088474af2476">Settings</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>