<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="989a0fee-11c7-4449-a9aa-d136c8694551" Alias="Culture" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">English (United States)
</Translation>
    <Translation Language="uk-UA">Ukrainian</Translation>
  </Translations>
</Dictionary>