<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33a1442f-7694-4735-9c90-bed0177d0e5a" Alias="Single Url Picker" Level="2">
  <Info>
    <Name>Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>