<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b6b8692-e8a6-4824-8151-6a636ff0e415" Alias="Catalog" Level="2">
  <Info>
    <Parent Key="686e8d55-e02f-455b-9c12-1fac102bf06a">Home</Parent>
    <Path>/Home/Catalog</Path>
    <Trashed>false</Trashed>
    <ContentType>catalogPage</ContentType>
    <CreateDate>2023-04-24T13:12:46</CreateDate>
    <NodeName Default="Catalog">
      <Name Culture="en-us">Catalog</Name>
      <Name Culture="uk-ua">Каталог</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="6bf83316-e82c-40a5-b017-b344cf4feee8">CatalogPage</Template>
  </Info>
  <Properties>
    <keywords>
      <Value Culture="en-us"><![CDATA[[
  "shop",
  "cars",
  "catalog",
  "all cars"
]]]></Value>
      <Value Culture="uk-ua"><![CDATA[[
  "католог",
  "машини",
  "магазин машин"
]]]></Value>
    </keywords>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cd40e79327814327b30473ea07cc02f4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "120e1ca5-12bd-4f65-9922-65e9f953d29c",
      "udi": "umb://element/cd40e79327814327b30473ea07cc02f4",
      "carName": "Sport Car Ferrari",
      "carDescription": "<p>A sports car is a high-performance vehicle designed for speed, acceleration, and handling. It is typically a two-door coupe with a low-slung, aerodynamic body, and a powerful engine. Sports cars are engineered to provide exceptional driving dynamics and are often built with lightweight materials, such as carbon fiber, to reduce weight and improve performance.</p>\n<p>Sports cars have a distinctive style, with sleek lines and aggressive design features, such as large air intakes and spoilers, that are not only visually appealing but also functional in improving the car's performance. These vehicles are often equipped with advanced suspension systems, brakes, and tires, allowing for sharp and precise handling around corners and curves.</p>",
      "carImage": "[\r\n  {\r\n    \"key\": \"8cf71c92-d05a-4cc1-bc9f-25d3970e8439\",\r\n    \"mediaKey\": \"b48768e7-b843-43b9-b4cd-8118ab10014f\"\r\n  }\r\n]",
      "carLink": "[{\"name\":\"Sport Car\",\"udi\":\"umb://document/6273e67183114cd4b2f86e4ddd5d8d09\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c4b7630cdd154462a7f9193b39ed6a66"
      },
      {
        "contentUdi": "umb://element/4a5eba87fe644d0eb621d32b7439ff84"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "120e1ca5-12bd-4f65-9922-65e9f953d29c",
      "udi": "umb://element/c4b7630cdd154462a7f9193b39ed6a66",
      "carName": "Sport Car",
      "carDescription": "<p>Спортивний автомобіль - це високопродуктивний транспортний засіб, призначений для швидкості, прискорення та керованості. Зазвичай це двохдверний купе з низьким, аеродинамічним кузовом та потужним двигуном. Спортивні автомобілі розроблені для забезпечення виняткової динаміки водіння та часто будуються з легких матеріалів, таких як карбонове волокно, щоб зменшити вагу та покращити продуктивність.</p>\n<p>Спортивні автомобілі мають характерний стиль, зі стрункими лініями та агресивними дизайнерськими особливостями, такими як великі вентиляційні отвори та спойлери, які не тільки візуально приваблюють, але й функціонально поліпшують продуктивність автомобіля. Ці транспортні засоби часто оснащені передовими системами підвіски, гальм, та шин, що дозволяє динамічно та точно керувати на поворотах та дугах.</p>",
      "carImage": "[\r\n  {\r\n    \"key\": \"08dd97dd-89a9-476b-a955-542015e435b2\",\r\n    \"mediaKey\": \"dd92855e-0b74-4cf1-93eb-84c021ff5a70\"\r\n  }\r\n]",
      "carLink": "[{\"name\":\"Спортивна Машина\",\"udi\":\"umb://document/6273e67183114cd4b2f86e4ddd5d8d09\"}]"
    },
    {
      "contentTypeKey": "120e1ca5-12bd-4f65-9922-65e9f953d29c",
      "udi": "umb://element/4a5eba87fe644d0eb621d32b7439ff84",
      "carName": "Retro Car",
      "carDescription": "<p>Ретро автомобілі мають різноманітні стилі та дизайни, від класичних американських м'язових автомобілів до елегантних європейських дорожніх кабріолетів. Багато ретро автомобілів мають великі, круглі фари, хромовані акценти та виразні криві та лінії. Ці елементи дизайну були популярні у середині 20-го століття і продовжують бути дуже цінними сьогодні.</p>",
      "carImage": "[\r\n  {\r\n    \"key\": \"09972992-ae89-422f-8f68-27833e46bc03\",\r\n    \"mediaKey\": \"d362437d-bd71-4195-ab0c-460919734f39\"\r\n  }\r\n]",
      "carLink": "[{\"name\":\"Ретро-Автомобіль\",\"udi\":\"umb://document/be7184b2a3d04667a3b2b4608bcb95f9\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <pageDescription>
      <Value Culture="en-us"><![CDATA[Here is a catalog of all cars that our shop sales]]></Value>
      <Value Culture="uk-ua"><![CDATA[Каталог машин]]></Value>
    </pageDescription>
    <pageTitle>
      <Value Culture="en-us"><![CDATA[Car catalog]]></Value>
      <Value Culture="uk-ua"><![CDATA[Каталог]]></Value>
    </pageTitle>
  </Properties>
</Content>