<?xml version="1.0" encoding="utf-8"?>
<Content Key="24bf17a4-defc-4c9a-9650-011b49ad21ff" Alias="Settings" Level="2">
  <Info>
    <Parent Key="686e8d55-e02f-455b-9c12-1fac102bf06a">Home</Parent>
    <Path>/Home/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2023-04-28T17:51:21</CreateDate>
    <NodeName Default="Settings">
      <Name Culture="en-us">Settings</Name>
      <Name Culture="uk-ua">Settings</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="b230927e-a715-4692-8f5c-088474af2476">Settings</Template>
  </Info>
  <Properties>
    <keywords>
      <Value Culture="en-us"><![CDATA[[
  "car shop",
  "cars",
  "ferrari",
  "sport cars"
]]]></Value>
      <Value Culture="uk-ua"><![CDATA[[
  "магазин авто",
  "спортивні машини",
  "ферарі",
  "мерседес"
]]]></Value>
    </keywords>
    <links>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f22af97d28b64ce4aaaef4fd97fd71e8"
      },
      {
        "contentUdi": "umb://element/c436fd64a7514af585673a4b6bfefe68"
      },
      {
        "contentUdi": "umb://element/b468efeffcc242dc8a826144a58b642c"
      },
      {
        "contentUdi": "umb://element/d2806345f93042a8a79dfa1a7718a3ea"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "144313d5-ba8d-4b59-9861-fbc4584d82f8",
      "udi": "umb://element/f22af97d28b64ce4aaaef4fd97fd71e8",
      "title": "Car Shop",
      "parentPage": "[{\"name\":\"Home\",\"udi\":\"umb://document/686e8d55e02f455b9c121fac102bf06a\"}]",
      "childPage": null
    },
    {
      "contentTypeKey": "144313d5-ba8d-4b59-9861-fbc4584d82f8",
      "udi": "umb://element/c436fd64a7514af585673a4b6bfefe68",
      "title": "Catalog",
      "parentPage": "[{\"name\":\"Catalog\",\"udi\":\"umb://document/6b6b8692e8a6482481516a636ff0e415\"}]",
      "childPage": null
    },
    {
      "contentTypeKey": "144313d5-ba8d-4b59-9861-fbc4584d82f8",
      "udi": "umb://element/b468efeffcc242dc8a826144a58b642c",
      "title": "Gallery",
      "parentPage": "[{\"name\":\"Gallery\",\"udi\":\"umb://document/cb4042c203504db6b5df3f314f294724\"}]",
      "childPage": null
    },
    {
      "contentTypeKey": "144313d5-ba8d-4b59-9861-fbc4584d82f8",
      "udi": "umb://element/d2806345f93042a8a79dfa1a7718a3ea",
      "title": "Blog",
      "parentPage": "[{\"name\":\"Blog\",\"udi\":\"umb://document/4078d6c771574e11a03b9938fa5db190\"}]",
      "childPage": "[{\"name\":\"About us\",\"udi\":\"umb://document/ae85ce067da24c849a563ee18f0ef83f\"},{\"name\":\"News\",\"udi\":\"umb://document/460a8035838148b2814c36c921c50344\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dc3647112bdb4eda9212bcd9d665d85b"
      },
      {
        "contentUdi": "umb://element/423d3de7a8c5414e9eeace9a6d49ef9a"
      },
      {
        "contentUdi": "umb://element/00badb06540b4ccdb7e426b2ffaa905e"
      },
      {
        "contentUdi": "umb://element/cbdcf8826f8441c98be08dae2e222a76"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "144313d5-ba8d-4b59-9861-fbc4584d82f8",
      "udi": "umb://element/dc3647112bdb4eda9212bcd9d665d85b",
      "title": "Car Shop",
      "parentPage": "[{\"name\":\"Домашня сторінка\",\"udi\":\"umb://document/686e8d55e02f455b9c121fac102bf06a\"}]",
      "childPage": null
    },
    {
      "contentTypeKey": "144313d5-ba8d-4b59-9861-fbc4584d82f8",
      "udi": "umb://element/423d3de7a8c5414e9eeace9a6d49ef9a",
      "title": "Каталог",
      "parentPage": "[{\"name\":\"Каталог\",\"udi\":\"umb://document/6b6b8692e8a6482481516a636ff0e415\"}]",
      "childPage": null
    },
    {
      "contentTypeKey": "144313d5-ba8d-4b59-9861-fbc4584d82f8",
      "udi": "umb://element/00badb06540b4ccdb7e426b2ffaa905e",
      "title": "Галерея",
      "parentPage": "[{\"name\":\"Галерея\",\"udi\":\"umb://document/cb4042c203504db6b5df3f314f294724\"}]",
      "childPage": null
    },
    {
      "contentTypeKey": "144313d5-ba8d-4b59-9861-fbc4584d82f8",
      "udi": "umb://element/cbdcf8826f8441c98be08dae2e222a76",
      "title": "Блог",
      "parentPage": "[{\"name\":\"Головне\",\"udi\":\"umb://document/4078d6c771574e11a03b9938fa5db190\"}]",
      "childPage": "[{\"name\":\"Про нас\",\"udi\":\"umb://document/ae85ce067da24c849a563ee18f0ef83f\"},{\"name\":\"Новини\",\"udi\":\"umb://document/460a8035838148b2814c36c921c50344\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </links>
    <pageDescription>
      <Value Culture="en-us"><![CDATA[smth whent wrong]]></Value>
      <Value Culture="uk-ua"><![CDATA[Щось пішло не так]]></Value>
    </pageDescription>
    <pageTitle>
      <Value Culture="en-us"><![CDATA[cars shop]]></Value>
      <Value Culture="uk-ua"><![CDATA[Магазин Авто]]></Value>
    </pageTitle>
    <socialLinks>
      <Value Culture="en-us"><![CDATA[[
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  }
]]]></Value>
      <Value Culture="uk-ua"><![CDATA[[
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  }
]]]></Value>
    </socialLinks>
  </Properties>
</Content>