@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using Umbraco.Cms.Web.Common.PublishedModels;

@{
    var row = (FeaturedItemsRow)Model.Content;
}

<div class="row gx-4 gx-lg-5 justify-content-center mt-5">

    @foreach(var item in row.ItemsRow)
    {
        var rowItem = (ImageTextItem)item.Content;
        <div class="card col-md-4 col-sm-12">
            
            <div class="card-body">
                
                @if(!string.IsNullOrWhiteSpace(rowItem.Caption.ToString()))
                {
                    <h5 class="card-title">@rowItem.Caption</h5>
                }
            </div>
            <div class =" mb-4">
                @if(rowItem != null)
                {
                    <img src="@rowItem.Image.GetCropUrl(490,383)" class="card-img-top" alt="@rowItem.Image.Name">
                }
            </div>
            
        </div>
    }
</div>