<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b17ae38-1359-4683-a7df-02f4eba5645c" Alias="Car For Family" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CarForFamily</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-25T20:48:25</CreateDate>
    <NodeName Default="Car For Family" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h0xboo0z/car-for-family.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>