<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a6ef651-96aa-4092-8e1e-7c0cfdde8e31" Alias="Porshe" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Porshe</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-19T14:36:57</CreateDate>
    <NodeName Default="Porshe" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k51g3cvk/porshe.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>