<?xml version="1.0" encoding="utf-8"?>
<Media Key="d362437d-bd71-4195-ab0c-460919734f39" Alias="Retro Car" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RetroCar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-25T19:15:55</CreateDate>
    <NodeName Default="Retro Car" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pnbhfu1r/retro-car.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>