<?xml version="1.0" encoding="utf-8"?>
<Domain Key="f9f2dbcc-0000-0000-0000-000000000000" Alias="*1094">
  <Info>
    <IsWildcard>true</IsWildcard>
    <Language>en-US</Language>
    <Root Key="6b6b8692-e8a6-4824-8151-6a636ff0e415">/Home/Catalog</Root>
    <SortOrder>-1</SortOrder>
  </Info>
</Domain>