<?xml version="1.0" encoding="utf-8"?>
<Domain Key="2f7d9507-0000-0000-0000-000000000000" Alias="/catalog/ua">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>uk-UA</Language>
    <Root Key="6b6b8692-e8a6-4824-8151-6a636ff0e415">/Home/Catalog</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>